extends ../head
block content
    ul(class="list-group mt-3")
    each el in studentGroups
        li(class="list-group-item")
            // ссылка на страницу расписания группы
            a(href="/groupSchedule/" + el.id class="btn btn-outline-info") #{el.number}