extends ../head
block content
    div(class="col-md-5")
        form(action="/updateTeacher/" + teacher.id, method="POST")
            div(class="form-group mb-3")
                input(name="name" type="text" placeholder="ФИО преподавателя" value=teacher.name required class="form-control")
            div(class="form-group mb-3")
                input(type="submit" value="Обновить" class="btn btn-outline-success")
        form(action="/deleteTeacher/" + teacher.id, method="POST")
            div(class="form-group mb-3")
                input(type="submit" value="Удалить" class="btn btn-danger")