extends ../head
block content
    a(href="/addStudent" class="btn btn-outline-success") Добавить студента
    ul(class="list-group mt-3")
    each el in students
        li(class="list-group-item")
            a(href="/student/" + el.id class="btn btn-outline-info") #{el.name}, группа: #{el.student_group_number}